/* CSS geral com algumas especificações da página principal e sobre a empresa */
* {
    background-color: burlywood;
}

.menu {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.links-menu {
    color: #000000;
    text-decoration: none;
}

.header, .content {
    text-align: center;
}

.img-header {
    width: 800px;
    height: 600px;
}

#title {
    color: #FFFFFF;
    text-align: center;
}

p {
    font-size: 20px;
}

.footer {
    text-align: center;
}

#p-footer {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

/* CSS da página de horário */
.image_horario {
    width: 500px;
    height: 500px;
}

.list-services {
    font-size: 20px;
    list-style-type: none;
}

.table, th, td {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    margin-left: 450px;
}

tr, th, td {
    background-color: #FFFFFF;
    color: #000000
}

/* CSS da página de contato */
.back-color-form {
    background-color: #FFFFFF;
}
